<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sfu276assg1.yancao.carbontracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/leaf"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sfu276assg1.yancao.UI.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sfu276assg1.yancao.UI.SelectCarActivity"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.AddCarActivity"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.SelectRouteActivity"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.AddRouteActivity"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.DisplayCarbonFootprintActivity"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.SelectTransModeActivity"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.MonthlyUtilitiesActivity"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.AddBillActivity"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.DisplayBarChart"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.DisplayLineChart"
            android:noHistory="true"/>
        <activity android:name="com.sfu276assg1.yancao.UI.MainActivity"
            android:noHistory="true"
            android:logo="@drawable/co2_cloud"/>
        <activity android:name="com.sfu276assg1.yancao.UI.AppInfoActivity" />

        <service
            android:name="com.sfu276assg1.yancao.UI.NotificationService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>