<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sfu276assg1.yancao.carbontracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sfu276assg1.yancao.UI.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sfu276assg1.yancao.UI.MainActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.SelectCarActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.AddCarActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.SelectRouteActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.AddRouteActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.DisplayCarbonFootprintActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.DisplayTableActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.DisplayTable" />
        <activity android:name="com.sfu276assg1.yancao.UI.SelectTransModeActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.MonthlyUtilitiesActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.AddBillActivity" />
        <activity android:name="com.sfu276assg1.yancao.UI.GiveTipsActivity" />
    </application>

</manifest>